OC_ASSETS_DOMAIN=assets.outclimb.local
OC_DATABASE_HOST=localhost
OC_DATABASE_NAME=outclimb
OC_DATABASE_PASSWORD=foo
OC_DATABASE_PORT=5432
OC_DATABASE_USERNAME=root
OC_DEFAULT_REDIRECT_URL=https://outclimb.gay
OC_JWT_ISSUER=OutClimb
OC_JWT_LIFESPAN=86400
OC_JWT_SECRET=foo
OC_LISTENING_ADDRESS=0.0.0.0:8080
OC_PASSWORD_COST=12
OC_RECAPTCHA_SECRET_KEY=foo
OC_REDIRECT_DOMAIN=outclimb.local
OC_REGISTER_DOMAIN=register.outclimb.local
OC_STORAGE_ACCESS_KEY=foo
OC_STORAGE_BUCKET=outclimb
OC_STORAGE_ENDPOINT=storage
OC_STORAGE_PREFIX=/
OC_STORAGE_REGION=us-east-1
OC_STORAGE_SECRET_KEY=foo
