DATABASE_HOST=localhost
DATABASE_NAME=outclimb
DATABASE_USERNAME=root
DATABASE_TIMEZONE=America/Chicago
HTTP_LISTENING_ADDRESS=0.0.0.0:8080
HTTP_REDIRECT_DOMAIN=outclimb.local
HTTP_REGISTER_DOMAIN=register.outclimb.local
JWT_ISSUER=OutClimb
JWT_LIFESPAN=86400
JWT_SECRET=foo
PASSWORD_COST=12
RECAPTCHA_SECRET_KEY=foo
