on:
  push:
    branches:
      - main
  pull_request:

jobs:
  editorconfig_lint:
    name: format
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Check formatting
        uses: greut/eclint-action@v0

  golangci:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x

      - name: Lint code
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5

  build:
    name: build
    needs: [editorconfig_lint, golangci]
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build/Push image
        run: docker buildx build --platform linux/amd64,linux/arm64 --file Dockerfile --target outclimb --tag ghcr.io/outclimb/outclimb:latest --push .
