on:
  push:
    branches:
      - main
  pull_request:

jobs:
  editorconfig_lint:
    name: format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Check formatting
        uses: greut/eclint-action@v0

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x

      - name: Lint code
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x

      - name: Build create user
        run: go build cmd/create_user/main.go

      - name: Build service
        run: go build cmd/service/main.go
